name: "CI"

on:
  merge_group:
  workflow_dispatch:
  workflow_call:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  cargo-fmt:
    name: Cargo Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Rustfmt Check
        run: cargo fmt --all --check

  cargo-build:
    name: Cargo Build
    runs-on: ubuntu-latest
    needs: cargo-fmt

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Cargo Build
        run: cargo build --workspace --all-targets --all-features

  cargo-clippy:
    name: Cargo Clippy Check
    runs-on: ubuntu-latest
    needs: cargo-build

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - name: Clippy Check
        run: cargo clippy --workspace --all-targets --all-features -- -D warnings

  cargo-nextest:
    name: Cargo Nextest
    runs-on: ubuntu-latest
    needs: cargo-build

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest

      - name: Run Cargo Tests
        run: cargo nextest run --workspace --all-targets --all-features

  cargo-doc:
    name: Cargo Documentation
    runs-on: ubuntu-latest
    needs: cargo-build

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Generate Documentation
        run: cargo doc --workspace --all-features --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: -D warnings

  check-crate-type:
    uses: ./.github/workflows/crate_type.yaml

  cargo-test-doc:
    needs: check-crate-type
    if: ${{ needs.check-crate-type.outputs.is_lib == 'true' }}
    name: Cargo test doc
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Cargo test doc
        run: cargo test --doc --workspace --all-features

  cargo-machete:
    name: Cargo Machete Check
    runs-on: ubuntu-latest
    needs: cargo-build

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install cargo-machete
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-machete

      - name: Check for unused dependencies
        run: cargo machete --with-metadata

  cargo-deny:
    uses: ./.github/workflows/cargo_deny.yml

  cargo-miri:
    name: Cargo miri
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install stable toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Setup miri
        run: |
          rustup toolchain install nightly --component miri;
          rustup override set nightly;
          cargo miri setup;

      - name: Test with Miri
        run: cargo miri test --workspace --all-targets --all-features

  typos-cli:
    name: typos
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Typos
        uses: taiki-e/install-action@v2
        with:
          tool: typos-cli

      - name: run typos
        run: typos

  taplo-toml-fmt:
    name: taplo fmt
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Install Taplo
        uses: taiki-e/install-action@v2
        with:
          tool: taplo-cli

      - name: Run Taplo
        id: taplo
        run: taplo fmt --check --diff

  markdown-lint:
    name: Markdown Lint
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: "**/*.md"

  yaml-lint:
    name: YAML Lint and Format Check
    runs-on: ubuntu-latest

    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6

      - name: YAML Lint
        uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: false

      - name: Install yamlfmt
        run: go install github.com/google/yamlfmt/cmd/yamlfmt@latest

      - name: Run yamlfmt
        run: yamlfmt --lint .
